/* Reset CSS for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles for your application */
html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  color: black;
  text-align: center;
}

.container {
  box-sizing: border-box; /* This ensures padding and borders are included in the total width and height */
  width: 15rem;
  height: 15rem;
  padding: 1rem; /* Example padding */
  border: 1px solid black; /* Example border */
}
